<div
  id="detailModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-black bg-opacity-40"
>
  <div class="relative p-4 w-full max-w-xl max-h-full">
    <div class="relative bg-white rounded-lg shadow-sm">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b border-gray-300 rounded-t"
      >
        <h3 class="text-lg font-semibold text-gray-900">Detail Post</h3>
      </div>

      <div class="p-4 md:p-5 space-y-2 text-sm text-gray-900">
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>ID</strong>
          <span>:</span>
          <span id="detailId"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Title</strong>
          <span>:</span>
          <span id="detailTitle"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Content</strong>
          <span>:</span>
          <span id="detailContent"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Status</strong>
          <span>:</span>
          <span id="detailStatus"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Views</strong>
          <span>:</span>
          <span id="detailViews"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Date</strong>
          <span>:</span>
          <span id="detailCreatedAt"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Author</strong>
          <span>:</span>
          <span id="detailAuthor"></span>
        </div>
        <div class="grid grid-cols-[100px_10px_1fr]">
          <strong>Image</strong>
          <span>:</span>
          <img
            id="detailImage"
            class="w-[200px] h-[150px] object-cover pt-1"
            src=""
            alt="Post Image"
            onerror="this.onerror=null; this.src='/static/images/harmedic.png';"
          />
        </div>

        <div class="text-right pt-4">
          <button
            type="button"
            id="closeModal"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
