<div
  id="userDetailModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-black bg-opacity-40"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b border-gray-300 rounded-t"
      >
        <h3 class="text-lg font-semibold text-gray-900">Detail User</h3>
      </div>

      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-2 text-sm text-gray-900">
        <div class="grid grid-cols-[110px_10px_1fr]">
          <strong>ID</strong>
          <span>:</span>
          <span id="detailUserId"></span>
        </div>
        <div class="grid grid-cols-[110px_10px_1fr]">
          <strong>Username</strong>
          <span>:</span>
          <span id="detailUsername"></span>
        </div>
        <div class="grid grid-cols-[110px_10px_1fr]">
          <strong>Email</strong>
          <span>:</span>
          <span id="detailEmail"></span>
        </div>
        <div class="grid grid-cols-[110px_10px_1fr]">
          <strong>Created At</strong>
          <span>:</span>
          <span id="detailUserCreatedAt"></span>
        </div>

        <div class="text-right pt-4">
          <button
            type="button"
            id="closeUserDetailModal"
            data-modal-toggle="userDetailModal"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg hover:bg-gray-600"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
