<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home - Post Cards</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <!-- Navbar -->
    <nav
      class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200"
    >
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
      >
        <a
          href="https://flowbite.com/"
          class="flex items-center space-x-3 rtl:space-x-reverse"
        >
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-8"
            alt="Flowbite Logo"
          />
          <span class="self-center text-2xl font-semibold whitespace-nowrap"
            >Flowbite</span
          >
        </a>
        <div class="flex gap-3">
          {% if session.get('user') %}
          <div
            class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
          >
            <a
              href="{{ url_for('main.dashboard') }}"
              class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center"
            >
              Dashboard
            </a>
          </div>
          <div
            class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
          >
            <a
              href="{{ url_for('auth.logout') }}"
              class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-4 py-2 text-center"
            >
              Logout
            </a>
          </div>
          {% else %}
          <div
            class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
          >
            <a
              href="{{ url_for('auth.login') }}"
              class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center"
            >
              Login
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <section
      class="bg-white pt-14 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')]"
    >
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
      >
        <a
          href="#"
          class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full hover:bg-blue-200"
        >
          <span
            class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 me-3"
            >New</span
          >
          <span class="text-sm font-medium"
            >Jumbotron component was launched! See what's new</span
          >
          <svg
            class="w-2.5 h-2.5 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
        </a>
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl"
        >
          We invest in the world’s potential
        </h1>
        <p
          class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48"
        >
          Here at Flowbite we focus on markets where technology, innovation, and
          capital can unlock long-term value and drive economic growth.
        </p>
        <form class="w-full max-w-md mx-auto">
          <label
            for="default-email"
            class="mb-2 text-sm font-medium text-gray-900 sr-only"
            >Email sign-up</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center ps-3.5 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16"
              >
                <path
                  d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                />
                <path
                  d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                />
              </svg>
            </div>
            <input
              type="email"
              id="default-email"
              class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500"
              placeholder="Enter your email here..."
              required
            />
            <button
              type="submit"
              class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
            >
              Sign up
            </button>
          </div>
        </form>
      </div>
      <div
        class="bg-gradient-to-b from-blue-50 to-transparent w-full h-full absolute top-0 left-0 z-0"
      ></div>
    </section>

    <!-- Posts -->
    <div class="bg-white pt-5">
      <div class="mx-auto max-w-7xl relative z-20">
        <h1 class="text-3xl font-bold mb-10 text-center">Post Cards</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for post in posts %}
          <a
            href="{{ url_for('main.post_detail', id=post.id) }}"
            class="group cursor-pointer rounded-lg border border-slate-300 bg-white hover:border-blue-700 transition-all"
          >
            <img
              class="h-auto w-full rounded-b-none rounded-t-lg"
              src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=800"
              alt="{{ post.title }}"
            />
            <div class="p-5">
              <h2
                class="line-clamp-2 text-lg font-semibold text-slate-600 group-hover:text-blue-700"
              >
                {{ post.title }}
              </h2>
              <p class="mt-2 line-clamp-3 text-base font-normal text-slate-700">
                <span class="text-slate-400">28 June 2025 • </span>
                {{ post.content }}
              </p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-white pt-10">
      <div class="w-full max-w-screen-xl mx-auto py-4 md:py-8">
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center"
          >© 2023
          <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>.
          All Rights Reserved.</span
        >
      </div>
    </footer>
  </body>
</html>
