<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Harmedic Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='images/logo.svg') }}"
    />
    <style>
      body {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100 text-gray-800">
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Jumbotron -->
    {% include 'partials/jumbotron.html' %}

    <!-- Posts -->
    <div class="bg-white pt-5 min-h-screen">
      <div class="mx-auto max-w-7xl relative z-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {% for post in posts %}
          <a
            href="{{ url_for('pages.post_detail', id=post.id) }}"
            class="group cursor-pointer rounded-lg border border-gray-300 bg-white hover:bg-gray-50 transition-all"
          >
            <img
              class="w-[410px] h-[308px] object-cover rounded-b-none rounded-t-lg"
              src="{{ url_for('static', filename='uploads/' ~ post.image) if post.image else url_for('static', filename='images/harmedic.png') }}"
              alt="{{ post.title }}"
            />
            <div class="p-5">
              <h2
                class="line-clamp-2 text-lg font-semibold text-gray-600 group-hover:text-blue-800"
              >
                {{ post.title }}
              </h2>
              <p class="mt-2 line-clamp-3 text-xs font-normal text-gray-600">
                <span class="text-gray-400 flex items-center text-sm">
                  <span>{{ post.author.username }}</span>
                  <span class="mx-2">•</span>
                  <span>{{ post.created_at.strftime('%B %d, %Y') }}</span>
                  <span class="mx-2">•</span>
                  <span>{{ post.views }} views</span>
                </span>
              </p>
              <p class="mt-2 line-clamp-3 text-base font-normal text-gray-600">
                {{ post.content }}
              </p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
  </body>
</html>
