<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Harmedic - {{ post.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='images/logo.svg') }}"
    />
    <style>
      body {
        font-family: "Nunito", sans-serif;
      }

      .bricolage {
        font-family: "Bricolage Grotesque", sans-serif;
      }
    </style>
  </head>
  <body class="bg-white">
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <div class="flex justify-center min-h-screen">
      <!-- Detail Post -->
      <div class="pt-24">
        <div class="mx-auto">
          <img
            class="w-[500px] h-[375px] object-cover rounded-lg"
            src="{{ url_for('static', filename='uploads/' ~ post.image) if post.image else url_for('static', filename='images/harmedic.png') }}"
            alt="{{ post.title }}"
            onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/harmedic.png') }}';"
          />
          <div class="mb-2 mt-4 flex items-center justify-between">
            <p class="text-base font-medium text-gray-500">
              Written by {{ post.author.username }}
            </p>
            <p class="text-sm text-gray-400">
              <span class="flex items-center">
                <span>{{ post.created_at.strftime('%B %d, %Y') }}</span>
                <span class="mx-2">•</span>
                <span>{{ post.views }} views</span>
              </span>
            </p>
          </div>
          <h1
            class="bricolage mb-3 mt-4 text-3xl font-bold text-gray-600 w-[500px]"
          >
            {{ post.title }}
          </h1>
          <p class="text-base leading-relaxed text-gray-700 w-[500px]">
            {{ post.content }}
          </p>
          <div class="mt-6">
            <a
              href="{{ url_for('pages.home') }}"
              class="px-5 py-2 rounded-full bg-blue-600 hover:bg-blue-700 group inline-flex items-center text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                class="w-2.5 h-2.5 text-white transition-colors"
                fill="currentColor"
              >
                <path
                  d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                />
              </svg>
              <span class="ml-1 text-sm transition-colors"> Back</span>
            </a>
          </div>
        </div>
      </div>

      <div class="border-l min-h-screen mx-10"></div>

      <!-- Sidebar Post -->
      <div class="pt-24">
        <!-- Promo Card -->
        <div
          class="max-w-xs p-6 bg-blue-50 border border-blue-300 bg-blue-50 rounded-lg"
        >
          <a href="#">
            <h5 class="mb-2 text-xl font-bold tracking-tight text-blue-800">
              Need a Health Checkup?
            </h5>
          </a>
          <p class="mb-3 font-normal text-blue-600">
            Visit Harmedic Hospital for trusted medical care. You can view
            directions, check service hours, and read patient feedback all in
            one convenient place.
          </p>
          <a
            href="https://maps.app.goo.gl/dcWx1Lq7vJR8P8HS8"
            target="_blank"
            class="inline-flex items-center px-5 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-full hover:bg-blue-800"
          >
            Maps
            <svg
              class="rtl:rotate-180 w-2.5 h-2.5 ms-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </a>
        </div>

        <!-- Related Posts -->
        <div class="mt-7 mb-4 flex items-center justify-between">
          <h4 class="text-base font-semibold text-gray-600">Other Posts</h4>
          <a
            href="{{ url_for('pages.home') }}"
            class="text-base text-blue-600 hover:underline"
          >
            View all
          </a>
        </div>
        <div class="space-y-4 max-w-xs">
          {% for post in related_posts %}
          <a
            href="{{ url_for('pages.post_detail', id=post.id) }}"
            class="block rounded-lg border border-gray-300 bg-white hover:bg-gray-50 transition-all"
          >
            <img
              class="w-full h-[160px] object-cover rounded-t-lg"
              src="{{ url_for('static', filename='uploads/' ~ post.image) if post.image else url_for('static', filename='images/harmedic.png') }}"
              alt="{{ post.title }}"
              onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/harmedic.png') }}';"
            />
            <div class="p-3">
              <h2
                class="bricolage text-sm font-medium text-gray-600 line-clamp-1"
              >
                {{ post.title }}
              </h2>
              <p class="mt-1 text-sm text-gray-500 line-clamp-2">
                {{ post.content }}
              </p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
  </body>
</html>
