<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Harmedic Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='images/logo.svg') }}"
    />
    <style>
      body {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-50">
    <section
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
    >
      <a
        href="{{ url_for('main.home') }}"
        class="flex items-center mb-6 text-2xl font-bold text-gray-700"
      >
        <img
          class="w-8 h-8 mr-2"
          src="{{ url_for('static', filename='images/logo.svg') }}"
          alt="logo"
        />
        Harmedic
      </a>
      <div class="w-full bg-white rounded-lg border md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-600 md:text-2xl"
          >
            Create a new account
          </h1>
          <form
            class="space-y-4 md:space-y-6"
            method="POST"
            action="{{ url_for('main.register') }}"
          >
            <div>
              <label
                for="username"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Username</label
              >
              <input
                type="text"
                name="username"
                id="username"
                placeholder="username"
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5"
              />
            </div>
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Email</label
              >
              <input
                type="email"
                name="email"
                id="email"
                placeholder="name@company.com"
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5"
              />
            </div>
            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5"
              />
            </div>
            <button
              type="submit"
              class="w-full text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Register
            </button>
            {% if error %}
            <p class="text-sm font-medium text-red-500">{{ error }}</p>
            {% endif %}
            <p class="text-sm font-light text-gray-500">
              Already have an account?
              <a
                href="{{ url_for('auth.login') }}"
                class="font-medium text-blue-600 hover:underline"
                >Sign in</a
              >
            </p>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
