<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Harmedic Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='images/logo.svg') }}"
    />
    <style>
      body {
        font-family: "Nunito", sans-serif;
      }
    </style>
  </head>
  <body class="bg-white text-gray-800 pt-20">
    <!-- Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- Dashboard -->
    {% include 'partials/dashboard_aside.html' %}

    <div class="px-10 py-4 pr-36 sm:ml-80 bg-white">
      <div class="rounded-lg">
        <h1 class="text-2xl font-bold mb-4">User Dashboard</h1>
        <div class="mb-4">
          <!-- Search Input -->
          {% include 'partials/dashboard_search.html' %}
        </div>

        <!-- Tabel User -->
        <div
          class="relative overflow-x-auto border border-gray-300 sm:rounded-xl"
        >
          <table
            id="postTable"
            class="w-full text-sm text-left rtl:text-right text-gray-500"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-100 border-b border-gray-200"
            >
              <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Username</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Created At</th>
                <th scope="col" class="px-0 py-3" colspan="3">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data akan diisi oleh jQuery -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal Detail -->
    {% include 'partials/user_modal_detail.html' %}

    <!-- Modal Add/Edit Post -->
    {% include 'partials/user_modal_edit.html' %}

    <script src="{{ url_for('static', filename='js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
  </body>
</html>
